connection: "{{ model.connection | default('powerbi_connection') }}"

{% for exp in model.explores | default([]) %}
explore: {{ exp.name }} {
  view: {{ exp.view }}
  {% if exp.get('label') %}
  label: "{{ exp.label | replace('"', '\\"') }}"
  {% endif %}
  {% for join in exp.get('joins') or [] %}
  join: {{ join.name }} {
    view: {{ join.view }}
    type: {{ join.type }}
    sql_on: {{ join.sql_on }} ;;
    {% if join.get('relationship') %}
    relationship: {{ join.relationship }}
    {% endif %}
  }
  {% endfor %}
}
{% endfor %}
