view: {{ view.view_name }} {

  sql_table_name: {{ view.sql_table_name | default(view.view_name) }} ;;
  {% for dim in view.dimensions %}
  dimension: {{ dim.name }} {
    type: {{ dim.type }}
    sql: {{ dim.sql }} ;;
    {% if dim.get('label') %}
    label: "{{ dim.label | replace('"', '\\"') }}"
    {% endif %}
    {% if dim.get('primary_key') %}
    primary_key: yes
    {% endif %}
    {% if dim.get('date_info') %}
    datetype: {{ dim.date_info.datetype | default('date') }}
    timeframes: [{% for tf in dim.date_info.timeframes | default([]) %}{{ tf }}{% if not loop.last %}, {% endif %}{% endfor %}]
    {% endif %}
  }
  {% endfor %}
  {% for m in view.measures %}
  measure: {{ m.name }} {
    type: {{ m.type }}
    sql: {{ m.sql }} ;;
    {% if m.get('label') %}
    label: "{{ m.label | replace('"', '\\"') }}"
    {% endif %}
    {% if m.get('value_format') %}
    value_format: "{{ m.value_format }}"
    {% endif %}
    {% if m.get('format') %}
    format: "{{ m.format }}"
    {% endif %}
    {% if m.get('description') %}
    description: "{{ m.description | replace('"', '\\"') }}"
    {% endif %}
  }
  {% endfor %}
}
