# Model: {{ artifact.project_name }}

include: "/views/*.view.lkml"                # include all views in the views/ folder in this project
include: "/**/*.view.lkml"
include: "*.dashboard.lookml"

connection: "p2l"

{%- for explore in artifact.explores %}
explore: {{ explore.explore_name }} {
{%- if explore.label %}
  label: "{{ explore.label | replace('"', '\\"') }}"
{%- endif %}
{%- for join in explore.joins %}
  join: {{ join.join_name }} {
    type: {{ join.join_type }}
    relationship: {{ join.relationship }}
    sql_on: {{ join.sql_on }} ;;
{%- if join.conversion_status == 'partial' and join.message %}
    # {{ join.message }}
{%- endif %}
  }
{%- endfor %}

}
{%- endfor %}
